{% extends 'Base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}  
{% block content %}
<form class="form-horizontal" method="POST" >
  <div class="container-fluid">
    {% csrf_token %}
    <div class="row">        
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon" id="2_department">* 姓名:</span>
            <input type="text" class="form-control" name="username" disabled='true' value={{ user_rule.UserID.username }}> 
          </div>
        </div>    
  </div> 
  <div class="row">        
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon" id="2_department">*角色:</span>
            <select class="form-control" name='rule' id="rule" aria-describedby="rule">
                {% for x in rules %}
					{% if x.id == user_rule.PowerID.id %}
                    <option value ="{{ x.id }}" selected="selected">{{ x }}</option>
					{% else %}
					<option value ="{{ x.id }}" >{{ x }}</option>
					{% endif %}
				{% endfor %}
			</select>
          </div>
        </div>    
  </div> 
  <div class="row">  
        <div class="col-sm-3">
            <input type="submit" value="修改" class="btn btn-primary" id="btn1">  
        </div>
        <div class="col-sm-3"> 
            <a class="" align="right" role="button" name="Submit" onclick="javascript:history.back(-1);">返回</a>
        </div>
    </div>
</form>
{% endblock %}
