{% extends 'Base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}  
{% block content %}
<form class="form-horizontal" method="POST" >
  <div class="container-fluid">
    {% csrf_token %}
    <div class="row">        
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon" id="2_department">* 角色名称:</span>
            <input type="text" class="form-control" name="name" value={{ rule.name }} disabled='true'> 
          </div>
        </div>    
  </div> 
  <div class="row">        
        <div class="col-sm-3">
          <div class="fieldWrapper">
          
            <label for="id_PowerID_0">*权限:</label>:
            <ul id="PowerID">
            <p>
            <br>
            {% for x in powers %}
				    <li><label for="id_PowerID_{{ x.id }}"><input id="id_PowerID_{{ x.id }}" name="PowerID" type="checkbox" value="{{ x.id }}">{{ x.name }}<label></li>
				{% endfor %}
			</ul>
          </div>
        </div>    
  </div> 
  
  <div class="row">  
        <div class="col-sm-3">
            <input type="submit" value="修改" class="btn btn-primary" id="btn1">  
        </div>
        <div class="col-sm-3"> 
            <a class="" align="right" role="button" name="Submit" onclick="javascript:history.back(-1);">返回</a>
        </div>
    </div>
</form>
{% endblock %}
