{% extends 'Base.html'%}
{% block head %}
<link href="//cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.css" rel="stylesheet">
<link href="//cdn.bootcss.com/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block content %}
<body>
<table class="table table-condensed table-bordered table-responsive table-hover" style="font-size:12px;margin-bottom:-5px">
<thead>
<tr> 
<th scope="col">用户名</th>
<th scope="col">角色</th>
<th scope="col">操作</th>
</tr>
</thead>
{% for user_rule in user_rules %}
<tbody>
<tr>
<td> {{ user_rule.UserID.username }}</td>
<td> {{ user_rule.RuleID.name }}</td>

<td><a href="/manager/update_user_rule/{{ user_rule.id }}">修改</a>/<a href="/manager/delete_user_rule/{{ user_rule.id }}" onclick=delete_confirm() >删除</td>
</tr>
</tbody>
{% endfor %}
</table>
<script type="text/javascript">
function delete_confirm()
{
 if (event.srcElement.outerText == "删除")
  {
  event.returnValue = confirm("删除是不可恢复的，你确认要删除吗？");
  }
}
    //document.onclick = delete_confirm;
</script>
{% endblock %}
