<!DOCTYPE html>
<html>
  <head>
    <title>登录南天简历管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/index/dist/css/AdminLTE.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <SCRIPT LANGUAGE="javascript">   
    $(document).ready(function(){
     var shi="{{ good }}";
    if(shi=="good")
    {
        alert("找回密码成功！我们已经向您的邮箱发送了一封密码找回邮件，请登录您的邮箱重置密码信息!");
        $("#hid").click();
    }
    else if(shi=="none")    
    {
        errors="请填写邮箱"
    }
    else if(shi=="bad")
    {
        alert("您所填的邮箱未注册!");
    }
    });
    </SCRIPT> 
  </head>
  <body class="bg-black">
  <div id="login-box" class="login-box">
    <div class="header" style="background:#3D9970 none repeat scroll 0% 0%;padding:20px 10px;text-align:center;font-size:26px;font-wight:300;">找回密码</div>
      <form class="" method="post">
        <div class="body bg-gray" style="padding:10px 20px;">
            {% if errors %}
                <li>
                    {% for error in errors %}
                        <p style="color: red;">
                        {{error}}
                        </p>
                    {% endfor %}
                </li>
            {% endif %}
          <form method="POST" action="" class="form-horizontal"> 
            <div class="form-group">
                <label class="control-label" >*电子邮件</label>
                <input class="form-control" type="text" name="email" placeholder="注册时所填的电子邮箱" value="{{ mail|default_if_none:"" }}">
            </div>
            <div class="footer" style="background:#FFF none repeat scroll 0% 0%;padding:10px 20px;">
                <button class="btn bg-olive btn-block" type="submit">提交</button>
                <a href="http://123.56.147.94" type='button' class="btn bg-olive btn-block">返回</a>
            </div>
        </form>
        <a href="http://123.56.147.94"  style="display:none;"><span id="hid">mm</span></a>
  </body>
</html>
