<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
{{ username }}:
{% if zhilian_ID %}
<div>
智联:
{% for import1 in zhilian_ID %}
 <br> {{ import1 }} </br>
 {% endfor %}
 </div>
 {% endif %}
 <br></br>
 {% if job_ID %}
 <div>
 51:
 {% for import2 in job_ID %}
 <br> {{ import2 }} </br>
 {% endfor %}
 </div> 
{% endif %}

</body>
</html>
