<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<h4 align="center">面试流程：</h4>
<table border="1">
<tr>
  <th>面试过程</th>
  <th>面试人</th>
  <th>候选人下一步状态</th>
  <th>下一步面试官</th>
</tr>
<tr>
  <td align="center" valign="middle">电话面试</td>
  <td align="center" valign="middle">二级部门经理</td>
  <td align="center" valign="middle">一面|淘汰  </td>
  <td align="center" valign="middle">二级部门经理|锁定人(默认)</td>
</tr>
<tr>
  <td align="center" valign="middle">  一面  </td>
  <td align="center" valign="middle">二级部门经理</td>
  <td align="center" valign="middle">二面|淘汰|发offer</td>
  <td align="center" valign="middle">一级部门经理|锁定人(默认)|人力(默认)</td>
</tr>
<tr>
  <td align="center" valign="middle">  二面  </td>
  <td align="center" valign="middle">一级部门经理</td>
  <td align="center" valign="middle">三面(如果需要)|淘汰|发offer</td>
  <td align="center" valign="middle">部门总经理|锁定人(默认)|人力(默认)</td>
</tr>
<tr>
  <td align="center" valign="middle">  三面  </td>
  <td align="center" valign="middle">部门总经理</td>
  <td align="center" valign="middle">淘汰|发offer</td>
  <td align="center" valign="middle">锁定人(默认)|人力(默认)</td>
</tr>
</table>


</body>
</html>
