{% extends 'table-base.html' %}
{% block title %}处理中的面试{% endblock %}
{% block content %}
<p>

<div class="container-fluid" style="padding-right:0px;padding-left:0px;">
<table class="table table-condensed table-bordered table-responsive table-hover" style="font-size:12px;">
  <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>电话</th>
      <th>邮箱</th>
      <th>工作年限</th>
      <th>状态</th>
      <th>招聘岗位</th>
      <th>水平</th>
      <th>操作</th>
      <th>代处理</th>
    </tr>
  </thead>
 {% for inter2,inte2s,inter2ss in inter2s %}
  <tbody>   
	      <tr id={{ inter.id }} onclick="opid2(this)">
		  <td>{{ inter2.CandidateName }}</td>
		  <td>{{ inter2.CandidateSex }}</td>
		  <td>{{ inter2.CandidateAge }}</td>
		  <td>{{ inter2.CandidatePhone }}</td>
		  <td class="autocut">{{ inter2.CandidateEmail }}</td>
		  <td>{{ inter2.CandidateProfile }}</td>
		  <td>{{ inter2.Status }}</td>
		  <td class="autocut">{{ inter2.Station.PositionName }}</td>
		  <td>{{ inter2.Level }}</td>
          <td><a href={{ inter2.Addr }}>查看简历</a>
           /<a href="{% url 'updata_resume'  inter2.resume.id  %}">更新简历</a></td>
          </td>
          {% if inter2.Agency %}
          <td>{{ inter2.Agency.username }}(代处理)</td>
          {% else %}
          <td></td>
          {% endif %}
	      </tr>

  </tbody>	      
  <tbody id={{ inter2ss }} style="display:none;">

          {% if inte2s %} 
          {% for inte,change1s in inte2s %}
          <tr>
          <td  colspan="11" class="autocut" style ="color:blue;text-align:left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>面试过程:</label>&nbsp;{{ inte.InterviewProcess }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试官:</label>&nbsp;{{ inte.user.username }}&nbsp;&nbsp;&nbsp;&nbsp;<label>候选人水平:</label>&nbsp;{{ inte.Level }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试时间:</label>&nbsp;{{ inte.Time|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试评价:</label>&nbsp;{{ inte.InterviewResults }}
          </td>
          </tr>
          {% if change1s %}
          {% for change1 in change1s %}
          <tr>
          <td  colspan="11" class="autocut" style ="color:red;text-align:left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>类型:</label>&nbsp;{{ change1.Ctype }}&nbsp;&nbsp;&nbsp;&nbsp;<label>原因:</label>&nbsp;{{ change1.Creason }}&nbsp;&nbsp;&nbsp;&nbsp;<label>操作人:</label>&nbsp;{{ change1.Cname }}&nbsp;&nbsp;&nbsp;&nbsp;<label>时间:</label>&nbsp;{{ change1.Ctime|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;<label>备注:</label>&nbsp;{{ change1.Cnotes }}
          </td>
          </tr>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %} 
          
  </tbody>  
{% for inter,side1,interss in inters %}    
  <tbody>
	      <tr id={{ inter.resume.id }} onclick="opid(this)">
		  <td>{{ inter.resume.CandidateName }}</td>
		  <td>{{ inter.resume.CandidateSex }}</td>
		  <td>{{ inter.resume.CandidateAge }}</td>
		  <td>{{ inter.resume.CandidatePhone }}</td>
		  <td class="autocut">{{ inter.resume.CandidateEmail }}</td>
		  <td>{{ inter.resume.CandidateProfile }}</td>
		  <td>{{ inter.resume.Status }}</td>
		  <td class="autocut">{{ inter.resume.Station.PositionName }}</td>
		  <td>{{ inter.resume.Level }}</td>
          <td><a href="javascript:void(0);" onclick="window.open('{{ inter.resume.Addr }}','','height=1000px,width=1000px')">查看简历</a>/<a href={% url 'side:Interview_resume' inter.resume.id %}>面试记录</a>
          /<a href="{% url 'updata_resume'  inter.resume.id  %}">更新简历</a></td>
            
          </td>
          {% if inter.resume.Agency %}
          <td>{{ inter.resume.Agency.username }}(代处理)</td>
          {% else %}
          <td></td>
          {% endif %}
	      </tr>

  </tbody>	      
<tbody id={{ interss }} style="color:red;display:none;">
          {% if side1 %} 
          {% for side,changes in side1 %}
          <tr style="">
          <td  colspan="11" class="autocut" style ="color:blue;text-align:left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>面试过程:</label>&nbsp;{{ side.InterviewProcess }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试官:</label>&nbsp;{{ side.user.username }}&nbsp;&nbsp;&nbsp;&nbsp;<label>候选人水平:</label>&nbsp;{{ side.Level }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试时间:</label>&nbsp;{{ side.Time|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;<label>面试评价:</label>&nbsp;{{ side.InterviewResults }}
          </td>
          </tr>
            {% if changes %}
          {% for change in changes %}
          <tr>
          <td  colspan="11" class="autocut" style ="color:red;text-align:left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>类型:</label>&nbsp;{{ change.Ctype }}&nbsp;&nbsp;&nbsp;&nbsp;<label>原因:</label>&nbsp;{{ change.Creason }}&nbsp;&nbsp;&nbsp;&nbsp;<label>操作人:</label>&nbsp;{{ change.Cname }}&nbsp;&nbsp;&nbsp;&nbsp;<label>时间:</label>&nbsp;{{ change.Ctime|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;<label>备注:</label>&nbsp;{{ change.Cnotes }}
          </td>
          </tr>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %} 
          
  </tbody>  
</table>
</div>
{% comment %}
{% if inters or inter2s  %}
{% else %}
<p> 没有记录 </p>
{% endif %}
{% endcomment %}
	    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
   function opid(obj){
    var df = obj.id+"ss";

    if(document.getElementById(df).style.display == "")
    {
        document.getElementById(df).style.display = "none";
    }
    else 
    document.getElementById(df).style.display = "";
   }


</script>
<script type="text/javascript">
   function opid2(obj){
    var df = obj.id+"ss";

    if(document.getElementById(df).style.display == "")
    {
        document.getElementById(df).style.display = "none";
    }
    else 
    document.getElementById(df).style.display = "";
   }


</script>
{% endblock %}
